<!--- Footer Component --->
<footer class="contact">
    <h2>Join the Jungle</h2>
    <div class="social-links">
        <a href="https://x.com/SuckySOLPanther" target="_blank" class="social-btn twitter">
            <img src="images/logo-white.png" alt="Twitter" class="social-icon">
        </a>
        <a href="https://t.me/sukypantherportal" target="_blank" class="social-btn telegram">
            <img src="images/telegram-removebg-preview.png" alt="Telegram" class="social-icon">
        </a>
        <a href="https://tiktok.com/graspingcrypto" target="_blank" class="social-btn tiktok">
            <img src="images/tiktok.png" alt="TikTok" class="social-icon">
        </a>
    </div>
</footer> 